.header-wrap{
    background: #519872;
    height: 75px;
    width:100%;
    margin:-12px -8px;
    position:fixed;
    z-index:1;
   
  }
  
  .wrap{
    background: #AFD4C0;
    height: 100%;
    width: 100%;
  }
  
  .logo-flex{
    width: 200px;
  
    display: flex;
    margin: 30px auto;
  }
  
  img{
    width: 30px;
    height: 30px;
  }
  
  span{
    flex:1;
    font-family: arial;
    font-style: bold;
    font-size: 30px;
    color: white;
    margin-left: 20px;
  }
  